{% extends 'base_layout.html' %}

{% block body %}
    <div>
        <div class="col-md-3"></div>
        <div class="col-md-6">
        <img src="https://supreme.swu.ac.th/file_staff_upload/file_student_pic/2562_1/62102010162.jpg">
        
        
            <div class="touch">
              <div class="card text-center bg-warning">
                <div class="card-body">
                    <h1 style="font-size: 38px">ชื่อ-นามสกุล : นายพฤธา พึ่งชื่น </h1>
                    <h1 style="font-size: 38px">รหัสนักศึกษา : 62102010162 </h1>
                </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}